#frame {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  width: 50vw;
  height: 70vh;
  background-color: rgb(210, 208, 208);
}
